.DS_Store
*_autoload*
phpunit.xml.dist
_act*
*.swp
*.tmp
.rigger*
._pylon.dat
conf/used/
tmp
cscop*
runtime/*
run/*
.rigger.dat
rigger.log
_prj/*tags
.prjide
templates_c/*
node_modules/
bower_components/
run.log
_rg/.*.data
.upload/
dist/debug
*sonar*
.babelrc
.editorconfig
npm-debug.log
